/* Imported font families */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --skyblue: #CDF0FF /*background-color*/
}

html, body{
    background-color: var(--skyblue);
}

.qr-code-container{
    padding: 25px;
    background-color: white;
    width: 50%;
    border-radius: 20px;
}

.qr-image{
    position: center;
    border-radius: 20px;
}