<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/png" sizes="32x32" href="../static/images/favicon-32x32.png"/>
    <title>QR Code Component</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/index.css"/>
</head>
<body>
    <div class="qr-code-container">
        <div class="qr-image">
            <img src="../static/images/image-qr-code.png" alt="QR Code Picture" width="150"/>
        </div>
        <div class="qr-title">
            <h4>Improve your front-end skills by building projects</h4>
        </div>
        <div class="qr-info">
            <p>Scan this QR code to learn more about our projects and start building amazing applications.</p>
        </div>
    </div>
</body>
</html>