<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/png" sizes="32x32" href="../static/images/landingPage/favicon-32x32.png"/>
    <title>Huddle Landing Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/landingPage.css"/>
</head>
<body>
    <nav class="navbar">
        <img id="logo" src="../static/images/landingPage/logo.svg" width="140px"/>
        <button id="btn-1">Try It Free</button>
        <h2 class="header-title">Build The Community <br/> Your Fans Will Love</h2>
        <p class="header-desc">Huddle re-imagines the way we build communities. You have <br/> a voice, but so does your audience. Create connections with <br/> your users as you engage in genuine discussion.</p>
        <button id="btn-2">Get Started For Free</button>
        <img id="picture1" src="../static/images/landingPage/illustration-mockups.svg" width="750px"/>
    </nav>

    <div class="container">

        <div id="grow">
            <h3 class="title">Grow Together</h3>
            <p class="description">Generate meaningful discussions with your audience and <br/> build a strong, loyal community/ Think of the insightful <br/> conversations you miss our on with a feedback form.</p>
            <img class="picture" src="../static/images/landingPage/illustration-grow-together.svg" width="300px" alt="Grow Together"/>
        </div>

        <div id="flow">
            <h3 class="title">Flowing Conversations</h3>
            <p class="description">You wouldn't paginate a conversation in real life, so why do <br/> it online? Our threads have just-in-time loading for a more <br/> natural flow.</p>
            <img class="picture" src="../static/images/landingPage/illustration-flowing-conversation.svg" width="250px" alt="Flowing Conversations"/>
        </div>

        <div id="users">
            <h3 class="title">Your Users</h3>
            <p class="description">It takes no time at all to integrate Huddle with your app's <br/> authentication solution. This means, once signed in to <br/> your app, your users can start chatting immediately.</p>
            <img class="picture" src="../static/images/landingPage/illustration-your-users.svg" width="250px" alt="Your Users"/>
        </div>
    </div>

    <div class="overlay">
        <h3 class="overlay-title">Ready To Build Your Community?</h3>
        <button id="btn-3">Get Started For Free</button>
    </div>

    <footer class="footer">

        <div class="left-footer">
            <h2 class="logo-title">Huddle</h2>
            
            <br/>
            
            <div class="footer-location">
                <img class="pic-location" src="../static/images/landingPage/icon-location.svg" alt="Location"/>
                <p class="footer-text">Lorem ipsum dolor sit amet, consectetur <br/> adipisicing elit, sed do eiusmod tempor <br/> incididunt ut labore et dolore magna aliqua</p>
            </div>

            <div class="footer-phone">
                <img class="pic-phone" src="../static/images/landingPage/icon-phone.svg" alt="Phone"/>
                <p class="footer-text">+1-543-123-4567</p>
            </div>

            <div class="footer-email">
                <img class="pic-email" src="../static/images/landingPage/icon-email.svg" alt="Email"/>
                <p class="footer-text">example@huddle.com</p>
            </div>
        </div>
        
        <div class="middle-footer">
            <div class="middle-left">
                <a href="#">About Us</a> <br/>
                <a href="#">What We Do</a> 
                <a href="#">FAQ</a> 
            </div>
            <div class="middle-right">
                <a href="#">Career</a>
                <a href="#">Blog</a>
                <a href="#">Contact Us</a>
            </div>
        </div>

        <div class="right-footer">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <p class="copyright">&copy; Copyright 2018 Huddle. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>