<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/png" sizes="32x32" href="../static/images/priceGrid/favicon-32x32.png"/>
    <title>Single Price Grid Component</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/priceGrid.css"/>
</head>
<body>
    <div class="main-container">

        <div class="first-container">
            <div id="upper-container">
                <p class="upper1">Join our community</p>
                <p class="upper2">30-day, hassle-free money back guarantee</p>
                <p class="upper3">Gain access to out full library of tutorials along wth expert code reviews. <br/> Perfect for any developers who are serious about honing their skills.</p>
            </div>
        </div>

        <div class="second-container">
            <div id="left-container">
                <p class="left1">Monthly Subscription</p>
                <p class="left2">$29</p>
                <p class="left3">per month</p>
                <p class="left4">Full access for less than $1 a day</p>
                <button class="btn-left">Sign Up</button>
            </div>
    
            <div id="right-container">
                <p class="right1">Why Us</p>
                <p class="right2">Tutorials by industry experts <br/> Peer & expert code review <br/> Coding exercises <br/> Access to out GitHub repos <br/> Community forum <br/> Flashcard decks <br/> New videos every week</p>
            </div>
        </div>

    </div>
</body>
</html>