<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/png" href="../static/images/socialLinks/favicon-32x32.png"/>
    <title>Social Links</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/socialLinks.css"/>
</head>
<body>
    <div class="container">
        <div class="info-container">
            <img class="social-pic" src="../static/images/socialLinks/avatar-jessica.jpeg"/>
            <h2 class="name">Jessica Randall</h2>
            <h4 class="address">London, United Kingdom</h4>
            <p class="quote">"Front-end developer and avid reader."</p>

            <a class="links" href="#">GitHub</a>
            <a class="links" href="#">Frontend Mentor</a>
            <a class="links" href="#">LinkedIn</a>
            <a class="links" href="#">Twitter</a>
            <a class="links" href="#">Instagram</a>
        </div>
    </div>
</body>
</html>